*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #c98484;
 }

 .rectangle{
    height: 8px;
    left: 275px;
    top: 554px;
    border-radius: 0px;
    background: #4A3174;
}
.button1{
    position: relative;
    color: #8a8a8a;
    height: 40px;
    width: 163px;
    left: 450px;
    top: 5px;
    border: 0;
    cursor: pointer;
}

.button2{
    position: relative;
    background-color: #4A3174;
    height: 40px;
    width: 163px;
    left: 450px;
    top: 5px;
    border-radius: 3px;
    border: 0px;
    color: #F2F2F2;
    cursor: pointer;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    position: relative;
    text-align: center;
    left: 120px;
    margin-left: 30px;
}

nav a{
    display: block;
    text-decoration: none;
    color: #8a8a8a;
    border-bottom: 2px solid transparent;
    padding: 20px;
}
nav a:hover{
   color: #4a3174;
}
 
.menu {
    display: flex;
    margin-top: 0px;  
}
#h1{
    position: absolute;
    color: #4A3174;
    top: 145px;
    left:310px;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo1{
    position: absolute;
    height: 73px;
    left: 150px;
    top: 149px;
}
#p1{
    position: absolute;
    color: #7a7a7a;
    top: 205px;
    left: 312px;
    font-size: 17px;
}

#btn-search {
    position: absolute;
    border: #4A3174;
    right: 135px;
    top: 179px;
    padding:11px 19px;
    background-color: #4A3174;
    color: #F2F2F2;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}   
input{
    width: 27%;
    border-radius: 3px;
    position: absolute;
    right: 180px;
    top: 179px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 0;
}
::placeholder{
    color: #8a8a8a;
  }
  #h2{
    position: absolute;
    top: 470px;
    left:150px;
    color: #4A3174;
    font-size: 38px;
      
  }
.book{
    position: absolute;
    top: 470px;
    left: 80px;
}
.shadowbox{
    width: 20%;
    padding: 30px;
    background-image: linear-gradient(180deg,#FFFFFF, #FFFFFF 40%);
    margin: 40px;
    border-radius: 3px;
    float: left;
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.07);
  }

.conteneur{
    width: 90%;
    margin: 15px;
    border: 2px dashed #FFFFFF;
    
 } 

 .container{
   margin-top: 460px;
   margin-left: 70px;
 }

.conteneur-flex{
    display: flex;
    flex-flow: row wrap;
    margin: 0px;

  }
.text,.text2,.euros{
    background-color: #FFFFFF;
   

}
.booki,.book2,.book3{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.moins{
    position: absolute;
    left: 150px;
    color: #4A3174;
    font-size: 38px;
      
  }
.bleu{
    position: absolute;
    left: 80px;
    
}
.shadowbox1{
    padding: 15px;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 3px;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.07);
  }
.shadowbox1 .text3:hover{
    color: rgb(0, 0, 0);
}
.shadowbox1 .money:hover{
    color:#EAB808 ;
    font-size: 24px;
}
.shadowbox1:hover{
    box-shadow: 0px 3px 20px rgb(0, 0, 0); 
    color: #222222;
}
.conteneur2{
    width: 90%;
    margin: 10px;
    border: 2px dashed #FFFFFF;
} 
 .container2{
   margin-top: 100px;
   margin-right: 60px;
   margin-left: 70px;
 }

.conteneur-flex2{
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
  }
.text3{
    position: relative;
    font-size: 14px;
    height: 50px;
    top: 70px;
    right:290px;
    background-color: #FFFFFF;
    color:#CBCBCB;  
}
.most{
    padding-top: 5px;
    font-size: 16px;
    width: 300px;
    right:180px;
    position: relative;
    top: 35px;
    height: 40px;
    color: #7A7A7A;
    background-color: #FFFFFF;
}
.script{
    padding: 9px;
    font-size: 19px;
    right:190px;
    left:9px;
    width: 490px;
    position: relative;
    height: 20px;
    background-color: #FFFFFF;
}
.money{
    font-size: 20px;
    width: 100px;
    position: relative;
    top: 20px;
    right: 10px;
    height: 10px;
    background-color: #FFFFFF;
}
.manuel{
    width: 81px;
    height: 117px;
    display: flex;
    margin: 0 auto;
}
#Accueil{
    color: #4A3174;
}
#prix{
   color: #eab808;
}
.footer{
    background-color: #4A3174;
    height: 500px;
}

.logo2{
    position: relative;
    background: #4A3174;
    left:100px;
    top: 50px;
    height: 51px;
}

#Ressources{
    position: relative;
    background-color: #4A3174;
    color:#F2F2F2;
    left: 140px;
    height: 40px;
    top: -95px;

}
.shadowbox2{
    padding: 9px;
    margin: 20px;
    position: relative;
    right:200px;
    background-color: #4A3174;
  }

 .container3{
   align-items: stretch;
   margin-top: 100px;
   margin-right: 60px;
   margin-left: 70px;
 }

.conteneur-flex3{
    display: flex;
    margin: 0px;
    background: #4A3174;

  }
  .papier,.papier1,.papier2,.papier3,.papier4,.papier5{
    margin: 20px;
    background: #4A3174;
    color:#F2F2F2;  
}
.li{
    background: #4A3174;
    padding: 5px;
    display: block;
}

.a{
    text-decoration: none;
    background-color: #4A3174;
    color: #F2F2F2;
    
}

.a:hover{
    background-color: #715e90;
    padding: 3px;
    border-radius: 3px;
}
.ul{
    list-style-type: none;
}