*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background:#afafaf;
    ;
 }

 .rectangle{
    height: 8px;
    left: 275px;
    top: 554px;
    border-radius: 0px;
    background: #4A3174;
}
.button1{
    position: relative;
    color: #8a8a8a;
    height: 40px;
    width: 163px;
    left: 450px;
    top: 5px;
    border: 0;
    cursor: pointer;
}


.button2{
    position: relative;
    background-color: #4A3174;
    height: 40px;
    width: 163px;
    left: 450px;
    top: 5px;
    border-radius: 3px;
    border: 0px;
    color: #F2F2F2;
    cursor: pointer;
}


nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    position: relative;
    text-align: center;
    left: 120px;
    margin-left: 30px;
}

nav a{
    display: block;
    text-decoration: none;
    color: #8a8a8a;
    border-bottom: 2px solid transparent;
    padding: 20px;
}
nav a:hover{
   color: #4a3174;
}
 
.menu {
    display: flex;
    margin-top: 0px;  
}
#h1{
    position: absolute;
    color: #4A3174;
    top: 145px;
    left:310px;
    font-size: 60px;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo1{
    position: absolute;
    height: 73px;
    left: 150px;
    top: 149px;
    border-radius: 0px;
}
#p1{
    position: absolute;
    color: #7a7a7a;
    top: 205px;
    left: 312px;
    font-size: 17px;
}

#btn-search {
    position: absolute;
    border: #4A3174;
    right: 135px;
    top: 179px;
    padding:10px 19px;
    background-color: #4A3174;
    color: #F2F2F2;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}   
input{
    width: 27%;
    border-radius: 3px;
    position: absolute;
    right: 180px;
    top: 179px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 0;
}
::placeholder{
    color: #8a8a8a;
  }
  #h2{
    position: absolute;
    top: 470px;
    left:150px;
    color: #4A3174;
    font-size: 38px;
      
  }
.book{
     position: absolute;
    top: 470px;
    left: 80px;
}
.shadowbox{
    width: 20%;
    padding: 50px;
    background-image: linear-gradient(180deg,#FFFFFF, #FFFFFF 40%);
    margin: 20px;
    border-radius: 6px;
    float: left;
  }

.conteneur{
    width: 90%;
    margin: 15px;
    border: 2px dashed #FFFFFF;
    
 } 

 .container{
   margin-top: 460px;
   margin-left: 60px;
 }

.conteneur-flex{
    display: flex;
    flex-flow: row wrap;
    margin: 0px;

  }
.text,.text2,.euros{
    background-color: #FFFFFF;

}
.booki,.book2,.book3{
    width: 253px;
    height: 331px;
    display: block;
    margin: 0 auto;
}